<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Made by imgabi.com-->
  <title>🌷 DUTCHIONARY 🇳🇱</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">


</head>


<body>
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="https://imgabi.com">duchtionary</a>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav navbar-right">
              <li><a href="https://www.buymeacoffee.com/imgabi">DONATE</a></li>
            </ul>
        </div>
        </div>
    </nav>

    <div class="jumbotron main-header">

        <h1>DUTCHIONARY</h1>
        <h2>✨ Your Dutch language learning extravaganza! ✨ </h2>

        <p> Say goodbye to dull dictionaries and embrace a world of linguistic merriment. </p>
        <p><b>Input any Dutch WORD or EXPRESSION</b> and watch the dictionary spring to life! 🌷 </p>
        <!-- More to come
        <p>And that's not all! Test your language skills by submitting three sentences using the word, and our tool will playfully correct and guide you on your path to Dutch mastery. </p>
        -->

        <form class="form-inline" action="/get_input" method="post">
            <div class="input-group get-word">
              <input type="text" name="word" autofocus autocomplete="off" class="form-control input-lg" maxlength="35" size="50" placeholder="Try for example 'Lekker' or 'Aan de Slag'" required>
              <div class="input-group-btn">
                <button type="submit" class="btn btn-lg btn-orange">DUTCHFIY IT</button>
              </div>
            </div>
        </form>
    </div>

    <div class="container">
        <div class="row">
          <div class="col-sm-8">
            <!-- base dic example OR user input -->
            {% block cool_dic %} {% endblock %}

            {% block cool_sent %} {% endblock %}

          </div>
          <div class="col-sm-4">

            🌷 🧙‍♂️
          </div>
        </div>
    </div>



    <!-- Google Fonts-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <!-- Bootstrap-->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

    {% block scripts %} {% endblock %}


  <footer class="container-fluid">
      <p><span class="glyphicon glyphicon-copyright-mark"></span>  2023  /*  with <3 by <a href="https://imgabi.com">Gabi</a> */  </p>
  </footer>
</body>
</html>