{% extends "base.html" %}

{% block cool_dic %}
<div class="definition">
  {% if response.word and ( response["type"].lower() == "zelfstandig naamwoord" or response["type"].lower() == "substantief" ):  %}
    <h2>{{ response["word"] }} <span class="extra"> {{ response["article"]  }} </span></h2>
  {% elif response.word and response["type"].lower() == "werkwoord": %}
    <h2>{{ response["word"] }} <span class="extra"> <i> ( {{ response["present"]  }} , {{ response["imperfectum"]  }}, {{ response["perfectum"]  }} ) </i> </span></h2>

  {% else %}
    <h2>{{ response["word"] }}</h2>
  {% endif %}

  <p> {{ response["meaning"] }} </p>
</div>

<hr />

  {% if response.synoniem and not response["synoniem"] == "--":  %}
    <div class="syn-ant">
        <p><b>👍 SYNONIEMEN: </b> {% if not response["synoniem"].lower() == "not_found" %} {{ response ["synoniem"] }} {% else %} -- {% endif %}</p>
        <p><b>👎 TEGENSTELLING: </b>{% if not response["antoniem"].lower() == "not_found" %} {{ response ["antoniem"] }} {% else %} -- {% endif %} </p>
    </div>
  {% endif %}

  {% if response.sentence_01 and not response["sentence_01"] == "--":  %}
    <div class="examples">
          <h4>VOORBEELDEN</h4>
          <p>‣  {{ response ["sentence_01"] }} </p>
          <p>‣  {{ response ["sentence_02"] }} </p>
          <p>‣  {{ response ["sentence_03"] }} </p>
    </div>
  {% endif %}

  <hr />
  {% endblock %}



  {% block cool_sent %}
  <div class="practice">
    <h4>JIJ BENT AAN DE BEURT</h4>
    <p>Create a sentence with {{ response["word"] }} and check if you got it right! 🤓 </p>

    <form class="form-inline" id="form_sentence" action="get_sentence" method="post">
      <div class="input-group">
            <textarea name="sentence" id="sentence" class="form-control" rows="3" maxlength="120" size="50" placeholder="Type a sentence'" required=""> </textarea>
            <br/>
            <button id ="bt-sentence" type="submit" class="btn btn-orange">CHECK</button>
      </div>

    </form>

    <div id="loader-sentence" class="loader">
      <div class="spinner-border" role="status">
        <span class="sr-only">Loading...</span>
      </div>
    </div>



    <div id="answer"> </div>

</div>

{% endblock %}


{% block scripts %}

<script>
  $(document).ready(function() {
      // Handle the form submission
      $('#form_sentence').submit(function(event) {
          // Prevent the default form submission behavior
          event.preventDefault();
          $('#loader-sentence').show();
          // Get the form data
          var formData = $(this).serialize();

          // Send the form data to the server using AJAX
          $.ajax({
              url: $(this).attr('action'),
              type: 'POST',
              data: formData,
              success: function(response) {
                  // Update the content with the received HTML code
                  $('#answer').html(response.html_code);
                  $('#loader-sentence').hide();
              }
          });
      });
  });
</script>

{% endblock %}