{% extends "base.html" %}

{% block cool_dic %}
<div class="definition">
  <h2>Lekker</h2>
  <p>"Lekker" is een veelzijdig woord in het Nederlands dat verschillende betekenissen kan hebben, afhankelijk van de context. Over het algemeen wordt het gebruikt om de smaak of het genot van voedsel of drinken te beschrijven, maar het kan ook worden gebruikt om iets positiefs, plezierigs of aangenaams in het algemeen te beschrijven.</p>
</div>

<hr />
<div class="syn-ant">
    <p><b>👍 SYNONIEMEN: </b>Smakelijk, heerlijk, genotvol </p>
    <p><b>👎 TEGENSTELLING: </b>Onsmakelijk, vies, onaangenaam</p>
</div>
<div class="examples">
      <h4>VOORBEELDEN</h4>
      <p>‣  Deze appeltaart smaakt echt lekker. Ik kan er niet genoeg van krijgen. </p>
      <p>‣  Het was lekker om een ​​wandeling te maken in het zonnige park. </p>
      <p>‣  Ik voel me lekker na een ontspannende massage. </p>
  </div>
{% endblock %}